<app-navbar></app-navbar>
<div class="landing-container">
    <div id="services">
        <div id="service-img"><div class="intro-text">
            <h1><b>Freight</b></h1>
            <h1><b>Transport</b></h1>
            <h1><b>Region</b></h1>
            <h4 class="main-text">Moving the way you want!</h4>
            <span class="button-span">
                <button class="action-btn" routerLink="/login/user">Sign in as Vendor</button>
                <button class="action-btn" routerLink="/login/admin">Sign in as Admin</button>
                <!-- <button class="action-btn" routerLink="/signup/user">Join us as Vendor</button> -->
            </span>
        </div></div>
        <div id="services-details">
            <div id="services-details-heading">
                Our Services
            </div>
            <div class="facility">
                <div class="facility-icon">
                    <img src="../../assets/images/landing/freight.png" height="35px" alt="">
                </div>
                <div class="facility-text">
                    Freight Transport Region Application helps to manage the overall operations in a Harbour. Admin
                    (Employees of FTR) and User (Vendor) can avail this application.
                </div>
            </div>

            <div class="facility">
                <div class="facility-icon">
                    <img src="../../assets/images/landing/admin-service.png" height="35px" alt="">
                </div>
                <div class="facility-text">
                    FTR admin can manage the major details like managing terminals, loading and grounding operations,
                    handling driver mapping for each vehicle, garage allocation and deallocation, permit barrier access
                    for the vehicle and managing sensor details etc.
                </div>
            </div>

            <div class="facility">
                <div class="facility-icon">
                    <img src="../../assets/images/landing/customer.png" height="35px" alt="">
                </div>
                <div class="facility-text">
                    Customers can register with FTR and request for foreign freight transport, includes the various user
                    specific configuration and it can be viewed using Operational Dashboard.
                </div>
            </div>
        </div>
    </div>
    <div class="intro">
        <div id="about-us">
            <h1>About us</h1>
            <span class="about-us-text"> <strong>Freight Transport Region</strong> is one of the biggest source of
                international trade,
                transferring large volumes
                of commodities and connecting countries across continents. Efficient management of port has direct impact of
                shipping capabilities of country. <br><strong>Time Management, Quality, & Safety</strong> are some of the
                basic
                parameters in the
                industry.
                <br>
                Freight Transport Region application helps to manage the overall operations in a Harbor. Admin
                (Employees of FTR) and User (Vendor) can avail this application.
                FTR admin can manage the major details like managing terminals, loading and grounding operations etc.</span>
        </div>
    </div>
</div>
<app-footer></app-footer>