<div class="dashboard-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a routerLink="home" class="navbar-brand brand">
            <img class="brand-image" src="../../assets/images/ftr-logo.png" alt="" />
            <span>Freight Transport Region</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  my-navbar-links">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/dashboard/profile">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/dashboard/work-items">Work Items</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="action-btn" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>